################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StoreProcedureRepository/StoreProcedureRepository/obj/Debug
